#success-container {
  border: 1px solid rgba(74, 159, 103, 1.00);
  border-radius: 3px;
  background-color: rgba(74, 159, 103, .30);
  width: 40%;
  padding: 2vh;
  box-shadow: 2px 2px 5px #ececec;
  margin: 0 auto;
  margin-bottom: 2vh;
}

#success {
  color: rgba(74, 159, 103, 1.00);
}
